/*-------------------------------------Reset---------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/*----------------------------------Variables--------------------------------*/
:root {
    --main-color: #54b689;
    --main-text-color: #fff;
    --border-color: #999;
    --bio-bg-color: #1e2a3a;
    --bio-border-color: #293544;
    --about-bg-color: #111821;
}

/*-----------------------------------General---------------------------------*/
.highlight {
    color: var(--main-color);
}

/*----------------------------------Containers--------------------------------*/
#container {
    display: flex;
    flex-direction: row;
    color: var(--main-text-color);
}

#bioContainer {
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 30px 12px;
    border-right: 5px solid var(--bio-border-color);
}

#aboutContainer {
    flex: 1 1 80%;
    min-height: 100vh;
    background-color: var(--about-bg-color);
    padding: 8vh;
}

/*-----------------------------------BioContainer----------------------------------*/
#bioContainer h2 {
    margin-bottom: 25px;
    font-weight: bold;
    border-bottom: 1px solid var(--main-text-color);
    color: var(--main-text-color);
}

#bioContainer p {
    margin-bottom: 20px;
}

#bioContainer img{
    height: 330px;
    width: 250px;
    border-radius: 100px;
    margin-bottom: 25px;
}

#socialContainer {
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 25px;
    padding-bottom: 25px;
}

#socialContainer li {
    flex: 1 1 0;
    max-width: 60px;
}

#socialContainer li a {
    color: var(--main-color);
    font-size: 30px;
}

#emailContainer {
    display: flex;
    justify-content: center;
}


#emailContainer a {
    text-decoration: none;
    color: var(--main-text-color);
}
#emailContainer ion-icon {
    margin-right: 5px;
    color: var(--main-color);
    font-size: 20px;
}

/*----------------------------------About-container--------------------------------*/
#name {
    font-size: 42px;
}

#title {
    font-size: 24px;
    margin-bottom: 35px;
    font-weight: bold;
}

.description {
    max-width: 75%;
    margin-bottom: 2vh;
}

#btnProjects {
    font-weight: bold;
    display: flex;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--main-text-colorcolor);
    background-color: var(--main-color);
    padding: 5px;
    align-items: center;
    width: 150px;
    cursor: pointer;
    justify-content: center;
    transition: 0.3s;
    gap: 5px;
    border: 1px solid var(--main-color);
}

#btnProjects ion-icon {
    font-size: 25px;
}

#btnProjects:hover {
    background-color: transparent;
}

/*----------------------------------Skills--------------------------------*/
#skillsSectionTitle {
    border-top: 2px solid var(--border-color);
    margin-top: 2vh ;
    padding-top: 2vh;
    font-size: 30px;
    font-weight: bold;
}

#skillsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
}

.skillsBox {
    flex: 1 1 33%;
    max-width: 33%;
    margin-bottom: 3vh;
}

.skillsTitle {
    font-size: 24px;
    margin-bottom: 2vh;
    font-weight: bold;
    padding-left: 10px;
    border-left: 5px solid var(--main-color);
}

.skillsBox i {
    font-size: 40px;
}